###########################################################################
## VIVADO .gitignore (Basado en XAPP 1165)
###########################################################################

# 1. Ignorar absolutamente todo por defecto
*
# Pero no ignorar las carpetas en sí (necesario para poder entrar en ellas)
!*/

# 2. No ignorar este archivo .gitignore
!.gitignore

###########################################################################
## ARCHIVOS DE DISEÑO Y CÓDIGO FUENTE
###########################################################################
# HDL y Netlists
!*.vhd
!*.v
!*.bd
!*.edif

# Ficheros de IP (Intellectual Property)
!*.xci
!*.dcp
!*.vds
!*.pb
!*.ui
!*.ooc

# System Generator (Matlab/Simulink)
!*.mdl
!*.slx
!*.bxml

# Simulación y Coeficientes
!*.wcfg
!*.coe

# Memory Interface Generator (MIG)
!*.prj
!*.mem

###########################################################################
## PROYECTO Y CONFIGURACIÓN
###########################################################################
# Archivos de proyecto Vivado
!*.xpr
!*.xml

# Restricciones (Constraints)
!*.xdc

# Scripts y bitácoras
!*.tcl
!*.jou

# Reportes y logs útiles
!*.rpt
!*.txt
!*.vdi

###########################################################################
## ARCHIVOS DE SOFTWARE (SDK / Vitis)
###########################################################################
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp
